.containerApp{
    background-color:lightyellow;
    margin: 30px;
    padding: 15px;
}

.containerApp > *{
    text-align: center;
    padding: 15px;
}

.itemList{
    color:white;
    text-align: center;
    background-color:  rgb(134, 197, 218);
}

.itemTask{
    color:white;
    text-align: center;
}

.contentTask {
    background-color: rgb(114, 128, 170); 
}

.containerNoteList{
    background-color:  rgb(144, 212, 235);
}

button{
    color: white;
    font-family: cursive;
    text-align: center; 
    padding: 5px;
    border: 0;
    border-radius: 5px;
}

.buttonAddList{
    background-color: rgb(134, 197, 218);
}

.buttonDeleteTask, .buttonDoneTask, .buttonAddTask{
    background-color: rgb(114, 128, 170);
}

.containerAddTask{
    background-color: rgb(132, 149, 199); 
}